.container{
    width: 70%;
    margin: auto;
    text-align: center;
}

body{
    background-color: rgb(49, 49, 49);
}   

h1{
    font-family: 'Lobster',cursive;
    font-size: 6em;
    color: rgb(51, 132, 202);
}

img{
    width: 80%;
}

.dice{
    text-align: center;
    display: inline-block;
}

.ref{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* max-width: 100rem; */
    /* width: 25rem; */
}

.ref-button{
    margin-top: -5px;;
    background-color: rgb(255, 255, 255);
    width: 150px;
    height: 50px;
    font-family: 'lobster',cursive;
    font-size: 1.2em;
    border-radius: 10px;
    box-shadow: none;
    text-decoration: none;
}

p{
    font-family: 'Indie Flower',cursive;
    font-size: 2rem;
    color: aqua;
}
